HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Archivos de entorno
.env
.env.*

# frontend
frontend/portal-frontend/node_modules/

# Build output
frontend/portal-frontend/dist/
frontend/portal-frontend/.angular/

# Temporary and cache files
frontend/portal-frontend/.cache/
frontend/portal-frontend/.npm/
frontend/portal-frontend/npm-debug.log*
frontend/portal-frontend/yarn-debug.log*
frontend/portal-frontend/yarn-error.log*

