version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: portal_postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/initdb.d:/docker-entrypoint-initdb.d:ro
    networks:
      - portal-net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    # container_name: portal_backend
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${BACKEND_PORT}:8080"
    networks:
      - portal-net

  frontend:
    build:
      context: ./frontend/portal-frontend
      dockerfile: Dockerfile
    container_name: portal_frontend
    depends_on:
      - backend
    ports:
      - "${FRONTEND_PORT}:80"
    networks:
      - portal-net

volumes:
  postgres_data:

networks:
  portal-net:

