<h1>👤 Perfil</h1>

<!-- Usuario -->
<div *ngIf="usuario">
  <h2>{{ usuario.nombre }}</h2>
  <p>Usuario: {{ usuario.username }}</p>
  <p>Rol: {{ usuario.rol }}</p>
</div>

<hr />

<!-- 🛠 Acciones Admin -->
<div *ngIf="esAdmin()" style="margin: 16px 0">
  <button
    mat-raised-button
    color="warn"
    routerLink="/admin/cursos">
    🛠 Administrar cursos
  </button>
</div>


<!-- Historial -->
<h2>📚 Historial de cursos</h2>

<ul>
  <li *ngFor="let p of progresos">
    Curso ID {{ p.nombreCurso }} —
    <strong>{{ p.estado }}</strong>
  </li>
</ul>

<hr />

<!-- Insignias -->

<h2>🏅 Insignias Obtenidas </h2>

<div *ngIf="insignias.length === 0">
  Aún no tienes insignias
</div>

<div *ngFor="let i of insignias"
     style="display: flex; align-items: center; gap: 12px; margin-bottom: 12px;">

  <img
    [src]="'http://localhost:8080/insignias/' + i.imagen"
    alt="Insignia"
    width="48"
    height="48"
    style="border-radius: 8px;"
  />

  <div>
    <div><strong>Nombre Curso {{ i.nombreCurso }}</strong></div>
    <div>Otorgada: {{ i.fechaOtorgada | date:'short' }}</div>
  </div>

</div>


